{% extends 'blog/base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="post">
        {% if post.published_date %}
            <div class="date" >
                {{ post.published_date }}
            </div>
        {% endif %}
        <span id='index_post' style="display:none">{{ post.pk }}</span>
        <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        <h1>{{ post.title }}</h1>
        <p>{{ post.text|linebreaksbr }}</p>
        <h1 style="display:inline">Comments  </h1><h2 id="count" style="display:inline">{{ post.commentss.count }}</h2>
        <div id="comments_content">
          {% for comment in post.commentss.all %}
              <p><b>{{ comment.author }}</b>:      {{ comment.text }}</p>

          {% endfor %}
        </div>

    <form method="POST" class="post-form" id='comment'>{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" id = "search" class="save btn btn-default">Save</button>
    </form>
    <img src="{% static 'img/m.png' %}" width="35px" height="35px" style="position:absolute; display:none" alt="Письма мастера ais" id="message">
    </div>
    <script>
    function move(){
      var elem = document.getElementById('message');
      var element = document.getElementById('search');
      var pos_l = 800;
      var pos_t = 300;
      var id = setInterval(frame, 2);
      console.log(pos_l)
      function frame(){
        if (pos_l == 180 && pos_t==0){
          clearInterval(id)
        }else if(pos_l!=180){
          pos_l--
          elem.style.left = pos_l + 'px';
        }else if(pos_t!=0){
            pos_t--;
            elem.style.top = pos_t + 'px';
          }
        }
      }
    </script>
{% endblock %}
